$color-primary: #fff000;
$mako: #3D4148;
$alabaster: #FAFAFA;
$tamarillo: #902616;
$red-orange: #FE3C1F;

$raleway-light: "Raleway-Light";
$raleway-regular: "Raleway-Regular";
$sans-serif: sans-serif;