$color-background-primary: #3D4148;
$color-text-light: #FAFAFA;
$color-gradient-primary: #902616;
$color-secondary: #FE3C1F;
$color-pagination-border: #ABB3C0;
$color-arrow: #86898D;

$font-primary-light: "Raleway-Light";
$font-primary-regular: "Raleway-Regular";
$font-primary-semibold: "Raleway-SemiBold";
$font-secondary: sans-serif;
