$color-background-primary: #3d4148;
$color-background-paralax: #d14b3a;
$color-paralax-info: #656d7a;
$color-text-white: #fafafa;
$color-gradient-primary: #902616;
$color-secondary: #fe3c1f;
$color-pagination-border: #abb3c0;
$color-arrow: #86898d;
$color-text-black: #272d32;
$color-text-description: #4e5860;
$color-post-border: #e6e9ed;
$color-post-title-underscore: rgba(#abb3c0, 0.4);
$color-project-border: #6d747f;
$color-project-actionbar-background: #dddddf;
$color-footer-background: #303030;
$color-section-delimiter: #b1b8c3;

$font-primary-light: "Raleway-Light";
$font-primary-regular: "Raleway-Regular";
$font-primary-semibold: "Raleway-SemiBold";
$font-spare: sans-serif;
$font-secondary-regular: "OpenSans-Regular";
$font-secondary-light: "OpenSans-Light";
$font-secondary-light-italic: "OpenSans-LightItalic";
$font-secondary-semibold: "OpenSans-SemiBold";

$page-width: 1440px;
$navigation-width: 963px;
$slider-description-width: 960px;
$pagination-container-width: 105px;
$paralax-shape-width: 705px;
$blockquote-container-width: 900px;
