@mixin font-primary-regular {
  font-family: $font-primary-regular, $font-spare;
  font-weight: 400;
}

@mixin font-primary-semibold {
  font-family: $font-primary-semibold, $font-primary-regular, $font-spare;
  font-weight: 600;
}

@mixin font-primary-light {
  font-family: $font-primary-light, $font-primary-regular, $font-spare;
  font-weight: 300;
}

@mixin font-secondary-regular {
  font-family: $font-secondary-regular, $font-spare;
  font-weight: 400;
}

@mixin font-secondary-light {
  font-family: $font-secondary-light, $font-primary-regular, $font-spare;
  font-weight: 300;
}

@mixin font-secondary-light-italic {
  font-family: $font-secondary-light-italic, $font-secondary-light, $font-spare;
  font-weight: 300;
}

@mixin font-secondary-semibold {
  font-family: $font-secondary-semibold, $font-secondary-regular, $font-spare;
  font-weight: 600;
}
