.arrow {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: $color-arrow;
  font-weight: 100;
  font-size: 48px;
  user-select: none;
  text-decoration: none;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &:hover {
    color: $color-secondary;
  }
}