.blog-block {
  max-width: $page-width;
  margin: 0 auto;
}

.blog-header {
  @include font-primary-semibold;
  position: relative;
  font-size: 45px;
  color: $color-text-black;
  text-align: center;
  padding-top: 94px;
  text-transform: capitalize;

  &::after {
    content: "";
    width: 100px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -29px;
    height: 1px;
    background: linear-gradient(to right, $color-secondary, $color-gradient-primary);
  }
}

.blog-description {
  @include font-secondary-regular;
  padding-top: 46px;
  line-height: 25px;
  margin: 0 auto;
  text-align: center;
  color: $color-text-description;
  max-width: 780px;
  font-size: 18px;
  letter-spacing: -0.1px;

  &-firstline {
    display: block;
  }
}

.blog-posts-block {
  position: relative;
  margin: 0 auto;
  padding: 92px 125px 0;

  .arrow.blog {
    top: 50%;
    width: 27px; 
    height: 27px;
    border-width: 3px 0 0 3px;

    &.left {
      left: 43px;
    }

    &.right {
      right: 43px;
    }
  }
}

.blog-posts-container {
  width: 100%;
  position: relative;
  font-size: 0;

  .blog-post {
    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;
    width: calc(33% - 25px);
    border: 1px solid $color-post-border;
    border-top: 0;
    border-top-right-radius: 50px;

    &:nth-child(1) {
      margin-left: 10px;
    }

    &:nth-child(2) {
      margin: 0 30px;
    }
  }

  .post-img {
    position: relative;
    width: 100%;
    height: 246px;
    background-color: $color-paralax-info;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-top: 39px solid white;
      border-left: 36px solid transparent;
      width: 46%;
    }
  }

  .post-description-container {
    padding-top: 20px;
    padding-left: 27px;

    .post-title {
      @include font-primary-regular;
      position: relative;
      font-size: 25px;
      line-height: 29px;
      padding-bottom: 12px;
      letter-spacing: 0.4px;
      color: $color-text-black;
      border-bottom: 1px solid $color-post-title-underscore;
      margin-right: 5px;

      &:hover {
        cursor: pointer;
        color: $color-secondary;
      }
    }

    .post-icons-container {
      margin-top: 14px;

      .post-icon-item {
        display: inline-block;
        
        .post-icon {
          margin-right: 15px;
        }

        .post-icon-description {
          @include font-secondary-regular;
          padding-right: 10px;
          font-size: 14px;
        }
      }
    }

    .post-description-text {
      @include font-secondary-regular;
      margin-top: 18px;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0.1px;
    }
    
    .post-button {
      border-color: $color-secondary;
      color: $color-secondary;
      margin-top: 19px;
      margin-bottom: 33px;
      font-size: 16px;

      &:hover {
        color: $color-text-white;
      }
    }
  }
}

@include screen-x-large {

  .blog-posts-container {
  
    .blog-post {
      width: calc(50% - 20px);

      &:nth-child(1) {
        margin: 0;
        margin-right: 10px;
      }
  
      &:nth-child(2) {
        margin: 0;
        margin-left: 10px;
      }

      &:nth-child(3) {
        display: none;
      }
    }
  }
}


@include screen-medium {
  .blog-header {
    font-size: 35px;
    padding-top: 40px;
  
    &::after {
      width: 150px;
      bottom: -15px;
    }
  }
  
  .blog-description {
    padding: 30px 10px 0;
    font-size: 18px;
    letter-spacing: 0.2px;
  
    &-firstline {
      display: inline;
    }
  }
  
  .blog-posts-block {
    position: relative;
    margin: 0 auto;
    padding: 50px 20px 0;
  }
  
  .blog-posts-container {
  
    .blog-post {
      display: block;
      width: 100%;
      margin-bottom: 20px;
  
      &:nth-child(1) {
        margin-left: 0;
      }
  
      &:nth-child(2) {
        margin: 0px;
        margin-bottom: 20px;
      }
    }
  
    .post-description-container {
      padding: 20px 20px 0;
  
      .post-title {
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.2px;
      }
  
      .post-icons-container {
  
        .post-icon-item {
          display: block;
          margin-bottom: 5px;
        }
      }
  
      .post-description-text {
        margin-top: 10px;
        line-height: 22px;
      }
      
      .post-button {
        margin-bottom: 20px;
      }
    }
  }
}
