.page-footer {
  background-color: $color-footer-background;
}

.footer-container {
  position: relative;
  max-width: $page-width;
  margin: 0 auto;

  .footer-content {
    display: flex;
    justify-content: center;
    padding: 22px 140px 30px;

    .footer-social-block {
      width: 30%;
      vertical-align: top;
      margin-right: auto;
      margin-top: 35px;

      .footer-social-links {

        .footer-social {
          display: inline-block;
          margin-right: 37px;
        }
      }
    }

    .footer-logo-container {
      
      .footer-logo {
        @include font-primary-light;
        font-size: 32px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        text-decoration: none;
        color: $color-text-white;

        .footer-logo-img {
          display: block;
          margin: 0 auto 22px;
        }
      }
    }

    .footer-copyright {
      @include font-secondary-light;
      vertical-align: top;
      width: 30%;
      font-size: 14px;
      color: $color-post-border;
      margin-left: auto;
      margin-top: 45px;
    }
  }
}

@include screen-x-large {
  .footer-container {
  
    .footer-content {
      
      .footer-social-block {
        width: 30%;
  
        .footer-social-links {
          font-size: 0;
  
          .footer-social {
            width: 30%;
            margin: 0 0 15px;
          }
        }
      }
  
      .footer-copyright {
        width: 30%;
        text-align: center;
      }
    }
  }
}

@include screen-medium {
  .footer-container {
  
    .footer-content {
      flex-direction: column;
      padding: 30px 0 15px;
  
      .footer-social-block {
        width: 100%;
        margin: 0;
  
        .footer-social-links {
          font-size: 0;
  
          .footer-social {
            width: 20%;
            margin: 0 0 50px;

            .footer-social-img {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
  
      .footer-logo-container {
        margin: 0 auto;
      }
  
      .footer-copyright {
        width: 100%;
        margin: 20px 0 0;
        text-align: center;
      }
    }
  }
}