.page-header-block {
  background-color: $color-background-primary;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $navigation-width;
  margin: 0 auto;

  .navigation-item-container {
    text-align: center;
    flex: 1;
    padding-top: 22px;
    
    .navigation-item {
      @include font-primary-light;
      position: relative;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-text-white;
      letter-spacing: 0.3px;

      &.selected,
      &:hover {
        &::before {
          content: "";
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -5px;
          height: 1px;
          background: linear-gradient(to right, $color-gradient-primary, $color-secondary);
        }
      }
    }
  }

  .navigation-item-container-logo {

    .navigation-item-logo {
      font-size: 32px;
      text-transform: capitalize;

      .logo {
        display: block;
        margin: 0 auto;
        padding-bottom: 22px;
      }
    }
  }
}

@include screen-medium {
  .toggle-button-container {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;

    .toggle-button {
      width: 30px;
      height: 5px;
      background-color: grey;
      margin-bottom: 5px;
      transition: all 0.4s;
    }
  }

  .header-logo-small {
    float: right;

    .logo {
      display: block;
      margin: 0 auto;
      padding-top: 10px;
      padding-right: 10px;
    }
  }
  
  .navigation-container {
    position: absolute;
    flex-direction: column;
    height: 90vh;
    left: -100%;
    background-color: $color-background-primary;
    margin: 0;
    transition: all 0.4s;
  }

  .toggle-checkbox:checked ~ .navigation-container {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 80%;
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    transition: all 0.4s;
  }

  .toggle-checkbox:checked ~ .toggle-button-container {
    .toggle-button {
      transition: all 0.4s;

      &:nth-child(1) {
        position: relative;
        top: 5px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        position: relative;
        top: -5px;
        transform: rotate(135deg);
      }
      &:nth-child(3) {
        opacity: 0;
      }
    }
  }
}
