.paralax-block {
  background-color: $color-background-paralax;
}

.paralax-block-shapes {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    border-bottom: 30px solid $color-background-paralax;
    border-right: 30px solid transparent;
    height: 0;
    width: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    right: 0;
    border-top: 30px solid $color-background-paralax;
    border-left: 30px solid transparent;
    height: 0;
    z-index: 1;
    width: 50%;
  }
}

.paralax-container {
  position: relative;
  max-width: $page-width;
  margin: 0 auto;

  .paralax-header {
    @include font-primary-semibold;
    position: relative;
    color: $color-text-white;
    font-size: 45px;
    text-align: center;
    padding-top: 144px;

    &::after {
      content: "";
      width: 100px;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      bottom: -20px;
      height: 1px;
      background-color: $color-text-white;
    }
  }

  .paralax-description {
    @include font-secondary-regular;
    font-size: 18px;
    padding-top: 40px;
    color: $color-text-white;
    text-align: center;
  }

  .paralax-blockquote-container {
    margin: 0 auto;
    padding-top: 80px;
    padding-left: 38px;
    letter-spacing: 0.4px;
    max-width: $blockquote-container-width;

    .paralax-blockquote-text {
      @include font-secondary-light-italic;
      max-width: 890px;
      font-size: 30px;
      line-height: 40px;
      color: $color-text-white;

      &::before {
        content: "\201c";
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        font-size: 150px;
        top: 342px;
        left: 250px;
        opacity: 0.2;
        color: $color-text-white;
      }
    }

    .paralax-blockquote-author {
      @include font-secondary-light;
      font-size: 30px;
      padding-top: 46px;
      padding-bottom: 158px;
      color: $color-text-white;
    }
  }
}

.paralax-info-block {
  background-color: $color-paralax-info;

  .paralax-info-container {
    padding-top: 92px;
    padding-bottom: 191px;
    padding-left: 78px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;

    .paralax-info-item {
      float: left;
      box-sizing: border-box;
      width: 25%;

      .info-item-img {
        float: left;
      }
      
      .info-item-count {
        @include font-primary-regular;
        float: left;
        color: $color-text-white;
        margin-left: 28px;
        font-size: 40px;
      }

      .info-item-description {
        @include font-primary-light;
        color: $color-text-white;
        font-size: 25px;
        clear: both;
        margin-top: 70px;
        margin-left: 73px;
      }
    }
  }
}