.slider-block {
  background-color: $color-background-primary;
}

.slider-container {
  padding: 11rem;
  position: relative;
  
  .slider-header {
    @include font-semibold;
    font-size: 70px;
    color: $color-text-white;
  }

  .slider-description {
    @include font-light;
    font-size: 50px;
    color: $color-text-white;
  }
}

.polyline {
  stroke: $color-text-white;
  stroke-width: 0.5;
  fill: none;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 104px;
  padding-bottom: 23px;
  max-width: 105px;
  max-height: 25px;

  .pagination {
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    border: 2px solid $color-pagination-border;

    &.active {
      background-color: $color-text-white;
    }

    &:hover {
      background-color: $color-text-white;
    }
  }
}